#jquery-msg-bg {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: white;
}

.jquery-msg-content {
  -webkit-background-clip: padding-box;
  padding: 15px;
}

.black-on-white .jquery-msg-content {
  background: white;
  color: #333333;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
